<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Page non trouvée</title>
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-size-1">Erreur 404 : Page non trouvée</h1>
                <p class="subtitle">La page que vous recherchez n'a pas pu être trouvée.</p>
                <a class="button is-primary" href="/">Retour à la page d'accueil</a>
            </div>
        </div>
    </section>
</body>

</html>
